.chart{
    width: 976px;
    height: 312px;
}

.inchart{
    width: 940px;
    height: 200px;
    background: linear-gradient(180deg,
     rgba(255,122,0,0.1) 0.6%, 
     rgba(255,255,255,0) 100%);
}

